<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunce.interfaces.mapper.IntGroupMapper">

    <resultMap type="IntGroup" id="IntGroupResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="group_name"    />
    </resultMap>

    <sql id="selectIntGroupVo">
        select id, group_name from int_group
    </sql>

    <select id="selectIntGroupList" parameterType="IntGroup" resultMap="IntGroupResult">
        <include refid="selectIntGroupVo"/>
        <where>
            <if test="groupName != null  and groupName != ''"> and group_name = #{groupName}</if>
        </where>
    </select>

    <select id="selectIntGroupById" parameterType="Long" resultMap="IntGroupResult">
        <include refid="selectIntGroupVo"/>
        where id = #{id}
    </select>

    <insert id="insertIntGroup" parameterType="IntGroup" useGeneratedKeys="true" keyProperty="id">
        insert into int_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupName != null">group_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupName != null">#{groupName},</if>
         </trim>
    </insert>

    <update id="updateIntGroup" parameterType="IntGroup">
        update int_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null">group_name = #{groupName},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteIntGroupById" parameterType="Long">
        update int_group set is_delect='Y' where id = #{id}
    </update>

    <update id="deleteIntGroupByIds" parameterType="String">
        update int_group set is_delect='Y' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
